extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Christine Treacy

        p.lead.text-light
          | Front End Web Developer

        .portfolio-bio
          p
            | Welcome and thank you for your interest in my work. My coding journey started in 2016 on a humid Florida summer day. I discovered something that combined my passion for creating beautiful things with my desire to keep learning and never get bored. <br><br> Since then I've stumbled many times, learned more than I ever imagined, stared bugs in the face for hours, and just kept going. I'm a hard-worker, I don't give up, and I hold myself to a high standard. It's taken me awhile to get here but I'm finally <em>here</em> and I'm ready. 
     
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li code reviews
          li plays well with others
        h6 Contact Info

        ul
          li 813-541-5270
          li christine927t@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/christine-treacy-00426433/') LinkedIn
        a.button.expanded(href='https://github.com/christine927t') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  